<div [ngClass]="mainContainer" style="height:100vh;">
    <div [ngClass]="mainArea" id="mainContent">
        <div id="characterSelection" [ngClass]="charSel">
            <div id="selectText" class="row mx-auto">
                <h1 class="">Select a Character</h1>
            </div>
            <div class="row w-100">
                <span class="col-2"></span>
                <img *ngIf="charInfo == characters.knight" (click)="selectCharacter('knight')" src="../../assets/Knight/Idle/idle.gif" alt="" class="col-3 border border-dark" id="Knight">
                <img *ngIf="charInfo != characters.knight" (click)="selectCharacter('knight')" src="../../assets/Knight/Idle/idle.gif" alt="" class="col-3" id="Knight">
                <img *ngIf="charInfo == characters.mage" (click)="selectCharacter('mage')" src="../../assets/Mage/Idle/idle.gif" alt="" class="col-3 border border-dark" id="Mage">
                <img *ngIf="charInfo != characters.mage" (click)="selectCharacter('mage')" src="../../assets/Mage/Idle/idle.gif" alt="" class="col-3" id="Mage">
                <img *ngIf="charInfo == characters.rogue" (click)="selectCharacter('rogue')" src="../../assets/Rogue/Idle/idle.gif" alt="" class="col-3 border border-dark" id="Rogue">
                <img *ngIf="charInfo != characters.rogue" (click)="selectCharacter('rogue')" src="../../assets/Rogue/Idle/idle.gif" alt="" class="col-3" id="Rogue">
            </div>
        </div>
        <div id="controls" [ngClass]="charSel">
            <div class="col my-auto">
                <div class="row">
                    <img src="../../assets/Controls/up.png" alt="" class="mx-auto">
                </div>
                <div class="row">
                    <div class="mx-auto">
                        <img (click)="change('left')" src="../../assets/Controls/left.png" alt="" class="pr-4">
                        <img (click)="change('right')" src="../../assets/Controls/right.png" alt="" class="pl-4">
                    </div>
                </div>
                <div class="row">
                    <div class="mx-auto">
                        <img src="../../assets/Controls/down.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col my-auto">
                <div class="row">
                    <img [routerLink]="['/Start']" src="../../assets/Controls/select.png" alt="" class="mx-auto col-4">
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" id="sideText" [ngClass]="sideText">
        <h2 *ngIf="charInfo">
            {{charInfo.description}}
        </h2>
    </div>
</div>